In [5]:
import pickle

etiquetas = [
    'Administración',   'Contabilidad',    'Derecho',
    'Docencia',         'Comunicación',    'Ingeniería',
    'Medicina',         'Enfermería',      'Psicología',
    'Cien_Compu',       'Ayudante'
]
centroides = [
    3, 3, 5,    
    6, 6, 4,
    5, 5, 5,
    3, 4
]

print ('etiquetas', len(etiquetas), 'centrides', len(centroides))

etiquetas 11 centrides 11

In [2]:
import pandas as pd
df = pd.read_csv('../bayes/datos2.csv', delimiter = ";").astype(str)
df.head(3)

,category,label,title,company,profile
0,Administración y gestión de empresas,1,se busca analista de reclutamiento,chazki,procesos de reclutamiento y adquisición de tal...
1,Administración y gestión de empresas,1,se busca analista de reclutamiento,chazki,procesos de reclutamiento y adquisición de tal...
2,Administración y gestión de empresas,1,auxiliar de recursos humanos,zen consultores,esta vacante viene de la bolsa de empleo talen...

In [3]:
col = ['category', 'profile']
df = df[col]
df = df[pd.notnull(df['profile'])]

df.columns = ['category', 'profile']

df['category_id'] = df['category'].factorize()[0]

category_id_df = df[['category', 'category_id']].drop_duplicates().sort_values('category_id')
category_to_id = dict(category_id_df.values)
id_to_category = dict(category_id_df[['category_id', 'category']].values)
df.head(10)

,category,profile,category_id
0,Administración y gestión de empresas,procesos de reclutamiento y adquisición de tal...,0
1,Administración y gestión de empresas,procesos de reclutamiento y adquisición de tal...,0
2,Administración y gestión de empresas,esta vacante viene de la bolsa de empleo talen...,0
3,Administración y gestión de empresas,"somos una empresa mexicana, líder en el giro d...",0
4,Administración y gestión de empresas,en solvento nos encontramos en búsqueda de tu ...,0
5,Administración y gestión de empresas,esta vacante viene de la bolsa de empleo talen...,0
6,Administración y gestión de empresas,mcdonald´s busca nuevo talentote invitamos a c...,0
7,Administración y gestión de empresas,solicita: analista de adp.objetivo del puestoa...,0
8,Administración y gestión de empresas,más que buscar un trabajo… busco formar parte ...,0
9,Administración y gestión de empresas,esta vacante viene de la bolsa de empleo talen...,0

---
# Administración de empresas

In [9]:
i = 0
data = df[df.category_id==0]
print('Longitud de data ',etiquetas[i])

name_vector= 'Modelos_Entrenados_sub_categorias/Vector_'+str(i)+'_'+etiquetas[i]+'.plk'
name_model = 'Modelos_Entrenados_sub_categorias/KMeans_'+str(i)+'_'+etiquetas[i]+'.plk'

# print(name_model,name_vector)
model = pickle.load(open(name_model,'rb'))
tfidf = pickle.load(open(name_vector,'rb'))